<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/styles/predonkulator.css">
        <script src="../static/js/prepend.js"></script>

    </head>
    <body>
        <div id="header">
            <a href="/">Home</a>
        </div>
        <div id="info">
            <h1 id="title">Predonkulator</h1>
            <h6 id="caption">Input a subreddit and have our program generate a top-rated post!</h6>
        </div>
        <div id="searchBox">
            <form id = "searchForm" action="predonkulator">
                <input id="prepended" value="r/" disabled/>
                <input id="subredditName" name="subreddit" type="text" placeholder="subreddit" value="" required/>
                <input id ="search" type="submit" value="Go!" />
            </form>
        </div>
        <div id="stats">
            <h2 id="tpStats">Top Post Statistics</h2>
            <p>Title:</p>
            <p>Upvotes:</p>
            <p>Downvotes:</p>
            <p>Number of Comments:</p>
        </div>
        <div id="footer">
            
        </div>
    </body>
</html>